/Lesson 1/.idea/Lesson 1.iml
/Lesson 1/.idea/modules.xml
/Lesson 1/.idea/workspace.xml
/Lesson 2/.idea
/class work/Lesson 3/.idea/Lesson 2.iml
/class work/Lesson 3/.idea/modules.xml
/class work/Lesson 3/.idea/workspace.xml
/class work/Lesson 4/.idea
